.hello,
.main-header {
  text-align: center;
}

.info,
address {
  margin-left: 13%;
  margin-right: 13%;
}

.info {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

address {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  padding: 10px;
}

address > a {
  font-size: 22px;
  color: #272a31;
}

.comp-title {
  text-align: center;
}

.comp-break {
  margin-left: 45%;
  margin-right: 45%;
  border: 1px solid #ec5242;
  margin-bottom: 50px;
}

.comp-detail {
  text-align: center;
}

.comp-time > img {
  display: block;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.compitition {
  margin-top: 50px;
  margin-bottom: 40px;
}

.visits {
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.past-detail {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.cont1,
.cont2 {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cont1 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url('./images/Gonder.jpg');
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.cont2 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url('./images/Hawassa.jpg');
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.cont1:hover,
.cont2:hover {
  transform: scale(1.1);
}

.past-festives {
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.place-year {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.place-year > h2 {
  font-size: 35px;
}

.place-year > p {
  font-size: 20px;
}

.partner-cont {
  margin-left: 30px;
  margin-right: 20px;
}

.partners2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 8%;
}

@media only screen and (min-width: 768px) {
  .about,
  .festive {
    color: #ec5242;
  }

  .festive {
    border: 4px solid #ec5242;
  }

  .hello {
    margin-top: 50px;
  }

  address > a {
    font-size: 25px;
  }

  .comp-title {
    font-size: 40px;
  }

  .comp-detail {
    font-size: 30px;
  }

  /* .comp-time > img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

  .visits {
    margin-left: 8%;
    margin-right: 8%;
  }

  .past-detail {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .cont {
    display: flex;
    gap: 30px;
  }

  .partner-cont {
    display: none;
  }

  footer {
    background-color: #272a31;
  }

  .footer-img {
    height: 130px;
  }
}
